<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")/
    meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    meta(http-equiv="X-UA-Compatible" content="ie=edge")/
    meta(name="author" content="Lorceroth")/
    meta(name="description" content="")/
    meta(name="keywords" content="")/
    title Lorceroth &mdash; Devloper & Hobbyist
    link(rel="stylesheet" href="/css/font-awesome.min.css")/
    link(rel="stylesheet" href="/css/styles.css")/
    link(rel="icon" type="image/x-icon" href="/images/favicon.ico")/
  body
    #main
      .container
        h1.heading Patience and Time
        p.message.
          The website is being developed at the moment.<br />
          Meanwhile, you can find me these places:
        ul.social-links
          li
            a(href="https://lorceroth.deviantart.com/" target="_blank")
              span.fa.fa-deviantart
          li
            a(href="https://soundcloud.com/lorceroth" target="_blank")
              span.fa.fa-soundcloud
          li
            a(href="https://twitter.com/lorceroth" target="_blank")
              span.fa.fa-twitter
          li
            a(href="https://github.com/lorceroth" target="_blank")
              span.fa.fa-github
          li
            a(href="https://www.pinterest.se/lorceroth/" target="_blank")
              span.fa.fa-pinterest
          li
            a(href="https://www.youtube.com/user/lorcerothart" target="_blank")
              span.fa.fa-youtube
