h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
  // font-weight: 300;
}

h1 {
  font-size: 58px;
}

p {
  margin: 0 0 20px;
  line-height: 1.6;
  font-weight: 300;
}

a {
  color: #fff;
  text-decoration: none;
}